<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="LoggingConfigurations" type="CV.Configuration.LoggingConfiguration, CV.Configuration"/>
        <section name="ObjectFactories" type="CV.Configuration.ObjectFactoryConfiguration, CV.Configuration"/>
    </configSections>
    <ObjectFactories>
        <ObjectFactory ObjectKey="FamilyViewLocalSQLSERVER2008" ObjectClass="CV.Database.SqlServerProvider" AssemblyPath="C:\CreativeVine\SourceCode\Root\Database\CV.Database.Microsoft\bin\Debug" AssemblyName="CV.Database.Provider.Microsoft"/>
    </ObjectFactories>
    <connectionStrings>
        <add name="FamilyViewLocalSQLSERVER2008" connectionString="Database=FamilyView;Server=ANDREW-W7-X64\SQLSERVER2008;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <LoggingConfigurations>
        <LoggingConfig LoggingKey="BasicLogging" BackupLogFileName="BackupDbSetupMgrLog" BackupLogFileDirectory="C:\CreativeVine\EventLog" TraceLevel="None">
            <LoggingTargets>
                <LoggingTarget TargetType="WindowsEventLog" LogName="Application" Priorities="All">
                    <Params>
                        <Param ParamKey="EventLogSource" ParamValue="DbSetup"/>
                    </Params>
                </LoggingTarget>
            </LoggingTargets>
        </LoggingConfig>
    </LoggingConfigurations>

    <appSettings>
        <add key="ConnectionKey" value="FamilyViewLocalSQLSERVER2008"/>
        <add key="LoggingKey" value="BasicLogging"/>
    </appSettings>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
